@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body,
  button,
  input,
  textarea {
    @apply font-poppins text-[1rem];
  }
  body {
    @apply bg-[#f9f9f9] text-[#757575];
  }
  h1,
  h2,
  h3 {
    @apply text-[#333333] font-semibold;
  }
}

@layer components {
  .container {
    @apply max-w-[968px] mx-1 lg:mx-auto;
  }
  .cs_grid {
    @apply grid gap-[1.5rem];
  }
  .button {
    @apply inline-block bg-[#333333] text-white py-[1.25rem] px-[2rem] rounded-[1rem] font-medium hover:bg-black;
  }
  .button__icon {
    @apply ml-[0.5rem];
  }
  .button--flex {
    @apply flex items-center;
  }

  /* header css */

  .header {
    @apply w-full fixed lg:top-0 lg:left-0 z-50 bg-[#f9f9f9] top-auto bottom-0;
  }
  .nav {
    @apply h-[3rem] lg:h-[4.5rem] flex justify-between items-center gap-[1rem];
  }
  .nav__menu {
    @apply fixed bottom-[-100%] left-0 w-full bg-[#f9f9f9] pt-[2rem] px-[1.5rem]
    pb-[4rem] shadow rounded lg:top-0;
  }
  .show-menu {
    @apply bottom-0;
  }
  .nav__logo,
  .nav__toggle {
    @apply text-[#333333] font-medium;
  }
  .nav__toggle {
    @apply text-[1.1rem] cursor-pointer;
  }
  .nav__list {
    @apply grid grid-cols-3 gap-[2rem] lg:flex gap-x-[1rem];
  }
  .nav__link {
    @apply flex flex-col items-center text-[#333333] text-[0.875rem] font-medium transition hover:text-black;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    @apply block lg:hidden;
  }
  .nav__icon {
    @apply text-[1.2rem];
  }
  .nav__close,
  .nav__toggle{
    @apply absolute right-[1.3rem] bottom-[0.5rem] text-[1.5rem] cursor-pointer
    text-[#333333] hover:text-black;
  }
  .active-link {
    @apply text-black;
  }
}

@layer utilities {
  .section {
    padding: 6rem 0 2rem;
  }
  .section_title {
    font-size: 1.5rem;
    color: #333333;
  }
  .section_subtitle {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 4rem;
  }
  .section_title,
  .section_subtitle {
    text-align: center;
  }
}
